
   
   .menu  {
      background-color: beige;
      list-style-type: none; 
      text-align: center;
      margin: 0;
      padding: 0;
      }
  

      
   li {display: inline;}   
  
   li a {display:inline;
        text-decoration:none;
         }
 
 
   li a:link {color: rgb(145, 51, 82); text-decoration:none;}

   li a:hover {
      color: palevioletred;
      display: inline;   }  
      
   li a:active {color: red;}

 
   
    h1 {text-align: center; color: pink;}
    h2 {text-align: center; color: palevioletred;}
  
  
    h3 {color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    }
  
    h4 { text-align: center;
   color: rgb(212, 100, 138);
   }
  
    p {text-align: center;
    color:black;
    }
  
    .img-larissa { 
     text-align: center;
    }
   
    .form-container {
     display: flex;
     justify-content: center;
  }
  
  .form-container form {
     width: 25%;
  }
